/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #00ced1;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .links button {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #00ced1;
    color: #00ced1;
    font-family: 'Poppins', sans-serif;
  }
  
  .links button:hover {
    background-color: #00ced1;
    color: #fff;
  }
  
  .container {
    justify-content: center;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #00ced1;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  
  